################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/tir2vjoy
/Debug
/tir2vjoy.aps
